# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Tuya (smart-home / smart-lock integration)
TUYA_ACCESS_ID=
TUYA_ACCESS_SECRET=
TUYA_REGION=us
